append head
title="Schedule Adjust"
script(type='text/javascript', src='javascripts/ping.js')

body
b Schedule Adjust

form#form(action='/login',method='POST')
  input#id(type='text', name="login[id]" , placeholder='alpha numeric')
  input#name(type='text', name="login[name]", autocomplete='off')
  input(type='submit', value='作成')