append head
title="Schedule Adjust"
script(type='text/javascript', src='javascripts/ping.js')

body
b Schedule Adjust

form#form(action='/login',method='POST')
  input#name(type='text', name="login[name]", autocomplete='off')
  input(type='submit', value='作成')

<br/><br/>
- if (typeof msg !== "undefined"){
span#msg= msg
- }
