append head
title="Schedule Adjust"
script(type='text/javascript', src='javascripts/voting.js')

body
//受け取った日程データを変数に保存
- var sa = null;
- var parentId = "";
- if (typeof saObj !== "undefined"){
-  sa = saObj;
-  parentId = saObj._id;
- }

div(id='toppage',data-role='page')
 div(data-role='header')
  h1 Voting to Schedule

 div(data-role='content')
  h3= sa.name + "  日程調整"
  p 名前を入力して都合のつく日に投票します。
   input#name(type='text',placeholder='苗字など、短くみんながわかる名前')
    
  p 日程が不足している場合、追加できます。 
  div#pnlScheduleAdd.form.ui-grid-a
   div.ui-block-a
    input#sDate(type='text', placeholder='yyyyMMdd',style="width:8em",maxlength="8")
   div.ui-block-b
    button(data-mini="true",onclick="scheduleAdd()") 日程追加
    input#sTime(type='hidden', placeholder='hhmmss')
    input#parentId(type='hidden', value=parentId  )
  
  p 現在の日程は以下のとおりです。<br/>
  div(data-role="collapsible-set")#pnlScheduleList   

  <br/><br/>

  - if (typeof msg !== "undefined"){
   span(style="color:red")#msg= msg
  - }else{ 
   span(style="color:red")#msg 
  - }

 div(data-role="footer",class="ui-bar")
  div(data-role="controlgroup",data-type="horizontal")
   a(data-role="button", data-icon="", onclick="moveMySchedule('email')") みんなに連絡する
   a(data-role="button", data-icon="", onclick="moveMySchedule()") この予定へのリンク
 
div#votingbox(data-role="dialog")
 div(data-role="header")
  h1#dialogTitle
 div(data-role="content")
  fieldset(data-role="controlgroup")
   legend 予定を選択してください
    label(for="vName") 名前 :
    input#vName(type='text',required)
    <br/>  
    label(for="voting-1") ◯：参加OK
    input#voting-1(type="radio",name="voting",value="◯",checked="checked")
    label(for="voting-0") ×：参加NG
    input#voting-0(type="radio",name="voting",value="×")
    label(for="voting-2") △：びみょう
    input#voting-2(type="radio",name="voting",value="△")
    <br/>
    <br/> 
    label(for="vComment") コメント :
    input#vComment(type='text')

    input#sc_id(type="hidden")
    input#v_id(type="hidden")
    input#atype(type="hidden")
    
    span#msgD
  a(href="#",data-role="button",onclick="voteExe()") 登録 
  <br/><br/>
  a(href="#",data-role="button",data-rel="back") キャンセル 
    