append head
title="Schedule Adjust"
script(type='text/javascript', src='javascripts/voting.js')

body
b Voting to Schedule

p list of schedule voting and schedule delete is by get method by ajax

<br/>

label Your name :
 input#name(type='text')

<br/><br/>
- var sa = null;
- var parentId = "";
- if (typeof saObj !== "undefined"){
-  sa = saObj;
-  parentId = saObj._id;
- }

div#pnlScheduleList
      
<br/><br/>
p add new date ( maybe also by ajax post ... )

div#pnlScheduleAdd.form
 input#sDate(type='text', placeholder='yyyyMMdd')
 input#sTime(type='text', placeholder='hhmmss')
 input#parentId(type='hidden', value=parentId  )
 button(onclick="scheduleAdd()") 日程追加

<br/><br/>
- if (typeof msg !== "undefined"){
span#msg= msg
- }

