body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}


.voter{
	padding: .7em 5px .7em 5px;
	border-width: 0;
	border: 1px solid lavender;
	background: lightgrey;
}

.voter .a{
	padding:.5em;
	background-color:white;
	width:50%;
}
.voter .b{
	padding:.5em;
	background-color:white;
	width:10%;
}
.voter .d{
	text-align:left;
	vertical-align:top;
	background-color:white;
}
